@media (max-width: 768px){
html,body
  {
      width: 100%;
      height: 100%;
      margin: 0 auto 0 auto;
      padding: 0px;
      overflow-x: hidden;
      text-align: center;
  }

li {
    display: none;
}
.brand {
  display: block;
}
.barToggle{
  display: block;
}
#topBar{
  width: 100%;
}
  #topBar .icon {
  position: relative;
  right: 25px;
  top: 8px;
  float: right;
  display: block;
}

.aboutme{
    position: relative;
    right: 60px;
}
.brand {
  float: left;
  position: relative;
  left:10px;
  bottom: 5px;
}
.block{
  display: block;
  position: relative;
  top: 10px;
  padding: 10px 15px;
  text-align: center;
}

.clock{
  position: relative;
  bottom : 35px;
  left: 0px;
}
.myImage{
  position: relative;
  left: 0px;
  top: 0.5px;
  width: 270px;
}
.textMypic{
  position: relative;
  top: 10px;
  left: 0px;
}
.breadPit {
  display: none;
}
.starGif{
  left: 150px;
  top: -10px;
}
#myPicSection {
  position: relative;
  width: 80%;
  margin-bottom: 300px;
}
h1{
  font-size: 2rem;
}
h2{
  margin: 0 auto 3 auto;
  font-size: 1.3rem;
}
.phamaemareePic{
  width:350px;
  position: relative;
  margin: 0 auto 0 auto;
  top: -30px;
}
.textEdu {
  position: relative;
}

.suthi{
  position: relative;
  width:350px;
  top: 30px;
  margin: 0 auto 0 auto;
}

.textSuthi{
  margin: 40px auto 0 auto;
  position: relative;
}
.suthiPic{
  width:350px;
  position: relative;
}
.textKmutt{
  position: relative;
  top: 60px;
  padding: 3% 5%;

}
.kmuttPic{
  width: 350px;
  position: relative;
  top: 80px;
}

#education {
  position: relative;
  padding-bottom: 60px;
  width: 100%;
}
.edu {
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
}
.textHeadEdu{
  padding: top:0%;
  margin-top: 0px;
}
.educationTable{
  width: 100%;
}
.workExPic{
  width: 300px;
  position: relative;
  margin: 10 auto 0 auto;
  align-items: center;
  text-align: center;
}
.skillTable {
  width: 100%;
  margin: 0 auto 0 auto;
}
.skillPadding{
  padding: 2% 0%;
}
.skillH1{
  padding: 0;
  margin: 0px auto 40px auto;
}
.skillPic {
  width: 80px;
}
.skillPicMicro {
  width: 100px;
  position: relative;
}
.fa-language{
  font-size: 4rem;
}
.fa-car-side {
  font-size: 3rem;
}
.fa-motorcycle{
  font-size: 3rem;
}
h3 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 10px auto 0 auto;

}
#workEx {
  position: relative;
  width: 100%;
}
.workWitdh{
  width: 80%;
  margin: 0 auto 0 auto;
  text-align:  center;
}
#skill{
  position: relative;
  top: 40px;
  width: 80%;
}
#contact {
  position: relative;
  width: 100%;
}
.contactGroup {
  display:block;
  padding-bottom: 5%;
}
.line{
  display:block;
  margin: 20px auto 20px auto;
}
.facebook {
  position: relative;
  right: 0px;
  bottom: 0px;
}
.conatactH1{
  padding: 10% 0%;
}
.footer{
  padding: 5% 0%;
}
.pp{
  font-size: 1rem;
}
.fa-star {
  font-size: 1.2rem;
}
.textFoot {
  font-size: .8rem;
}
.totoro {
  position: absolute;
  top: -130px;
  left: 90px;
  width: 100px;
  z-index: 0;
  transform: scaleX(-1);
}
