html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  word-spacing: 2px;
  text-align: center;
}
h1{
  font-size: 3rem;
}
h2{
  margin: 0 auto 3 auto;
  font-size: 2rem;
}
h3 {
  line-height: 1.8;
  font-size: 1.3rem;
  margin: 0 auto 0 auto;
}
p {
  font-size: 1rem;
  margin: 0 auto 0 auto;
  line-height: 1.8
}
#topBar {
  width: 100%;
  z-index:  1;
  position: relative;
}
#topBar .icon{
  display: none;
}
.brand {
  font-family: 'Playfair Display', serif;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 15px;
  margin-bottom:0px;
  padding: 0px;
  transition: .3s;
  text-shadow: 2px 1px 3px #fe99b6;
}
.brand:hover {
  font-size: 1.5rem;
  transition: .3s;
  background-color: #fe99b6;
  border-radius: 5%;
  padding: 3px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #F21170;
  position: fixed;
  top: 0px;
  width: 100%;
}
li{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  transition: 1s;
  border: none;
}
a {
  text-decoration: none;
  color: white;
  transition: .5s;
}


li:hover {
  transition: .3s;
  font-size: 1rem;
  background-color: #fe99b6;
  border-radius: 0%;
}
a:hover {
  font-size:1.1rem;
  transition: .3s;
}

/* mypic */

#myPicSection {
  margin: 20px auto 20px auto;
  width: 70%;
  text-align: center;
  position: relative;
  top :170px;
  padding: 40px;
}
.cvH1 {
  font-family: 'Playfair Display', serif;
  color: #F21170;
}
.myImage {
  position:  relative;
  left: 180px;
  bottom: 80px;
  padding: 0px;
  width: 450px;
  border-radius: 100%;
  border: solid 10px;
  border-color: #FFE194;
  z-index: 0;
}
.textMypic {
  position: relative;
  left: -20px;
}
.clock {
  position: absolute;
  left: 85px;
  top: 0px;
}

.starGif {
  position: absolute;
  top: -100px;
  right: 600px;
  width: 100px;
  z-index: -1;
}
.starGif2 {
  position: absolute;
  top: 320px;
  left: -370px;
  width: 30px;
  z-index: -1;
}
/* education */

#education {
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
  position: relative;
  top: 120px;
  padding: 20px 0px 180px 0px;
  background-image: linear-gradient(0deg, #F21170, #440A67);
}
.textHeadEdu {
  color: white;
  padding: 60px;
}
.educationTable{
  margin: 0 auto 0 auto;
  width: 70%;
}
.textWhite {
  color: white;
}
.phamaemareePic {
  width: 500px;
  border-radius: 10%;
  position: relative;
  right: 60px;
}
.textEdu {
  position: relative;
  left: 80px;
}
.phamae {
  position: relative;
}
.suthi {
  position: relative;
  top: 40px;
}
.textSuthi {
  position: relative;
  right: 60px;
}
.suthiPic {
  width: 500px;
  border-radius: 10%;
  position: relative;
  left: 80px;
}
.kmutt {
  position: relative;
  top: 80px;
}
.textKmutt {
  position: relative;
  left: 80px;
}
.kmuttPic {
  width: 540px;
  border-radius: 10%;
  position: relative;
  right: 60px;
}

/* workexperience */

#workEx {
  position: relative;
  margin: 0 auto 0 auto;
  top: 120px;
}
.h1Work {
  padding-bottom:0px;
}
.workExContainer {
  padding: 10px 0 50px 0;
  background-image: linear-gradient(180deg, #F21170, #440A67);
}
.workExPic {
  width: 500px;
  margin: 30px auto 10px auto;
  border-radius: 10%;
}
.workDN {
  width: 350px;
  margin: 30px auto 10px auto;
  border-radius: 10%;
}

/* skill */

#skill {
  text-align: center;
  margin: 100px auto 0 auto;
  position: relative;
  top: 100px;
  width: 80%
}
.skillTable{
  margin: 0 auto 0 auto;
}
.skillPadding {
  padding: 30px 50px;
}
.fa-star {
  color: gold;
  margin-top: 10px;
}
.skillPic {
width: 100px;
}
.skillPicMicro {
  width: 150px;
}
.skillH1{
padding: 30px 0px;
}
.fa-car-side {
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 15px;
  font-size: 4rem;
}
.fa-language{
  font-size: 6rem;
}
.fa-motorcycle{
  font-size: 4rem;
}

/* contact */

#contact {
  position: relative;
  top: 150px;
  background-color: #F21170;
  padding: 1%;
}
.contactGroup {
  margin: 0 auto 0 auto;
  width: 60%;
}
.inline {
  display: inline-block;
  padding: 3%
}
.conatactH1 {
  padding: 3% 0%;
  margin: 0px;
  color: white;
}
.facebook {
  position: relative;
  right: 20px;
  bottom: 10px;

}
.facebookH3{
  padding: 10% 0% 0% 0%;
}
.facebookH3 :hover {
  font-size: 2rem;
  transition: .3s;
}
.footer {
  z-index: 0;
  position: relative;
  top: 150px;
  padding: 1%;
  text-align: center;
  background-color: white;
}

/* js */

.pressed {
  font-size: 30px;
  color: gold;
}
.undone {
  color: purple;
  font-size: 1.5rem;
}
